In [3]:
import pandas as pd

In [4]:
pois = pd.read_csv("data/pois_osm.csv", sep=";", encoding="utf-8")
pois["type"] = "poi"

pois.head()

,id,name,lat,lon,category,subcategory,wheelchair,source,type
0,osm:node_227010766,Eni,45.618915,9.282171,amenity,fuel,NaN,osm_node,poi
1,osm:node_261675940,Scuola Agraria del Parco di Monza,45.600812,9.272332,amenity,school,NaN,osm_node,poi
2,osm:node_346163428,Biblioteca Monza - Triante,45.583167,9.255311,amenity,library,NaN,osm_node,poi
3,osm:node_346187235,Monza 6,45.568492,9.241680,amenity,post_office,NaN,osm_node,poi
4,osm:node_346339847,Monza Centro Via Gramsci,45.581762,9.271048,amenity,parking,limited,osm_node,poi

In [ ]:
addresses = pd.read_csv("data/COMUNE_MONZA_Numerazione_Civica_Comunale_4326.csv", sep=",", encoding="utf-8")

addresses["type"] ="adr"

addresses.head()

        lon        lat                             name number type
0  9.261020  45.557985             Via Alberico Gentili     10  adr
1  9.261147  45.557904             Via Alberico Gentili      6  adr
2  9.261724  45.555580            Via Barzago E Beretta      5  adr
3  9.261291  45.555662          Viale Guglielmo Marconi     85  adr
4  9.257201  45.555402  Via Giuseppe Saverio Mercadante     31  adr

In [33]:
joined = pd.concat([pois, addresses], ignore_index=True)
joined.drop(["id", "source"], axis=1, inplace=True)


joined.to_json("geocoder_db.json", orient="records", indent=2, force_ascii=False)